html
  head
    style
      include ../style.css

  body
    form(action='/createRawMaterial' method='post')
      h1 raw material    

      div#inputs
        input(type='text' name='name' placeholder='name' value=name)
        input(type='number' name='code' placeholder='code' value=code)
        input(type='number' name='cost' placeholder='cost' value=cost)
        input(type='number' name='freightCode' placeholder='freight code' value=freightCode)
        input(list='department' name='deparment' placeholder='deparment' value=deparment)
        datalist#department
          option(value='raw material') raw material
          option(value='freight') freight

      div#createRawMaterial
        label unit 
        label(for='kg') kg
        if unit == 'kg' 
          input(id='kg' type='radio' name='unit' value='kg' checked)
        else
          input(id='kg' type='radio' name='unit' value='kg')
        label(for='t') t
        if unit == 't'
          input(id='t' type='radio' name='unit' value='t' checked)
        else
          input(id='t' type='radio' name='unit' value='t')

        p created on #{date}
      div#createRawMaterial      
        input(type='submit' value='create' name='createBtn')   
        input(type='submit' value='search' name ='searchBtn')
        input(type='submit' value='save' name ='saveBtn')
        a(href='index') back